body {
	font-family: sans-serif;
}

.code-upload { 
	font-family: monospace;
}

pre {
	padding: 0;
	margin: 0;
}

.grade-form {
	position: fixed;
	top: 30%;
	right: 30px;
	padding: 10px;
	font-size: 20pt;
	display: none;
	background-color: rgba(0, 0, 0, 0.2)
}

tr {
	background-color: none;
}

tr.graded {
	background-color: #E3E3E3;
}

tr.active {
	background-color: #B8C5FF;
}